@import "Variable";

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 215px;
  max-width: 1170px;
  height: 80px;
}
.search-header {
  float: left;
}
.search-icon {
  margin-top: 30px;
  margin-left: 50px;
  width: 20px;
  height: 20px;
  color: $redColor;
}
.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.menu-header a {
  width: 80px;
  color: black;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.option-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  float: right;
  margin-right: 100px;
}
.option-menu-icon {
  width: 20px;
  height: 20px;
  color: $redColor;
}

.logo-header {
  width: 157px;
  height: 80px;
}
.mobile-menu {
  display: none;
}

@media screen and (max-width: 780px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: black;
  }
  .search-header {
    display: none;
  }
  .menu-header-mobile {
    // position: absolute;
    // display: block;
    // left: 0;
    // top: 75px;
    // width: 100%;
    display: none;
  }
  .menu-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgb(0, 0, 0, 0.15);
    background: linear-gradient(#f4f4f4 0 0) padding-box,
      /*this is your grey background*/
        linear-gradient(to right, #a502b7, #df0748) border-box;
    border: 2px solid transparent;
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
  .logo-header {
    display: none;
  }
  .option-menu {
    // display: flex;
    // flex-direction: column;
    display: none;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    border: none;
    outline: none;
    margin-right: 10px;
    right: 0;
    top: 70px;
  }
}
