@import "Variable";

.services {
  background-color: $grey;
  display: flex;
  justify-content: center;
  height: 420px;
  .group-services {
    display: flex;
    flex-direction: column;
  }
  .service-top {
    text-align: center;
    margin-top: 20px;
  }
}

.service-top img {
  width: 100px;
  height: 100px;
  margin-bottom: -20px;
}

.service-slogan {
  display: flex;
  gap: 10px;
  font-size: 22px;
  justify-content: center;

  .slogan-red {
    color: $redColor;
  }
}

.service-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  column-gap: 100px;
  .service-support {
    background-color: rgba(0, 34, 156, 0.1);
    width: 95px;
    height: 85px;
    border-radius: 10px;
  }
  .service-delivery {
    background-color: rgba(152, 80, 197, 0.25);
    width: 95px;
    height: 85px;
    border-radius: 10px;
  }
  .service-sercurity {
    background-color: rgba(172, 51, 51, 0.3);
    width: 95px;
    height: 85px;
    border-radius: 10px;
  }
  .service-icon {
    width: 65px;
    height: 65px;
    margin-left: 15px;
    margin-top: 10px;
  }
  .service-title {
    font-weight: bold;
    font-size: 16px;
    color: $redColor;
  }
  .service-subtitle {
    font-weight: normal;
    font-size: 12px;
    max-width: max-content;
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
  .services {
    // height: 400px;
  }
  .service-slogan {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .slogan-red,
  .slogan-normal {
    font-size: 15px;
  }
}
